{% extends 'base_security.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>forgot_password</h1>
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

