{% extends 'base_back.html.twig' %}

{% block title %}B+B - Ajout d'un article{% endblock %}

{% block body %}
    <h1 class="title-back">Ajouter un article</h1>

    {{ include('back/article/_form.html.twig') }}

    <div class="mt-5">
        <a href="{{ path('admin_app_menu') }}" class="flex items-center gap-2 font-bold"><i class="fa-solid fa-angle-left"></i>Retourner au menu</a>
    </div>
{% endblock %}
