{% extends 'base_back.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('back/article/_form.html.twig') }}

    <a href="{{ path('admin_app_menu') }}">back to list</a>
{% endblock %}
