{% extends 'base_front.html.twig' %}

{% block title %}B+B - Cart{% endblock %}

{% block body %}
<div>Cart</div>

<h1>Votre paiement a bien été effectué! Votre numéro de commande est le 12</h1>

<a href="{{ path('client_default_index')}}">Retourner au site</a>

{% endblock %}
