<!DOCTYPE html>

<title>Categorie</title>

{% block body %}
    <h1>Categorie: {{ category.name }}</h1>


    <h2>Articles</h2>
    <ul>
        {% for article in category.articles %}
            <li><a href="{{ path('client_article_show', {'id': article.id}) }}">{{ article.name }}</a></li>
        {% else %}
            <tr>
                <td colspan="3">Aucun article dans cette categorie</td>
            </tr>
        {% endfor %}
    </ul>

    <a href="{{ path('client_category_index') }}">back to list</a>


{% endblock %}