<nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 w-full border-b border-gray-200 dark:border-gray-600">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div>
        <div class="md:hidden">
            <a href="/" class="flex items-center">
                <img src="/images/logo.png" class="mr-3 w-[75px] h-[75px]" alt="B&B Logo">
            </a>    
        </div>
    </div>
    <div class="flex md:order-2">
            {# {% if is_granted('ROLE_MANAGER') %}<a href="{{ path('admin_default_index') }}">Panel d'admin</a>{% endif %}
        {% if is_granted('ROLE_EMPLOYEE') %}<a href="{{ path('employee_default_index') }}">Panel employee</a>{% endif %} #}
        <a href="{{ path('profile') }}" class="flex justify-center items-center gap-3 text-black border rounded-full text-sm px-5 py-2.5 text-center mr-3 md:mr-0"><i class="fa-regular fa-user text-primary-pink"></i>Mon profil</a>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul class="flex flex-col border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
                <a href="/" class="flex items-center">
                    <img src="/images/logo.png" class="ml-[150px] mr-3 w-[75px] h-[75px]" alt="B&B Logo">
                </a>     
            </li>
        </ul>
    </div>
  </div>
</nav>
