@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-security {
    @apply bg-primary-red rounded-3xl py-2 text-white font-bold;
}
.hover {
    @apply hover:opacity-80 transition duration-300 ease-in-out;
}
.alert-danger {
    @apply bg-red-500 text-white p-3 rounded-3xl;
}

.alert-success {
    @apply bg-green-500 text-white p-3 rounded-3xl;
}


@layer components {
    .title-back {
        @apply text-2xl font-bold mb-10;
    }

    .test, .dataTables_scroll {
        padding-top: 15px;
    }
    .styled-table {
        width: 100%!important;
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      
      .styled-table thead tr {
        background-color: #695CFE;
        color: #ffffff;
        text-align: left;
      }
      
      .styled-table th,
      .styled-table td {
          padding: 12px 15px;
      }
      
      .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }
      
      .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      
      .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #695CFE;
      } 
      
      .styled-table tbody tr.styled-row {
        font-weight: bold;
        color: #695CFE;
        cursor: pointer;
      }
      
      .styled-table tbody tr.styled-row:hover {
        background-color: rgb(105, 92, 254, 0.1);
      }
}
