{% extends 'base_employee.html.twig' %}

{% block title %}Hello Employee view!{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ controller_name }}! ✅</h1>
        <h1>Employee view</h1>
    </div>
{% endblock %}
