{% extends 'base_back.html.twig' %}

{% block title %}New employee{% endblock %}

{% block body %}
    <h1 class="title-back">Ajouter un employé</h1>

    {{ include('back/employee/_form.html.twig') }}

    <a href="{{ path('admin_app_user_index') }}">Retourner à la liste des employés</a>
{% endblock %}
