{% extends 'base_back.html.twig' %}

{% block title %}Employees List!{% endblock %}

{% block body %}
    <div>
        <h1>Employees List</h1>
        {% for employee in employees %}
            {{ employee.firstName }}
        {% endfor %}
    </div>
{% endblock %}
